@use "../../styles/partials/variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.inv-details {
    @extend .container-wrap;

    background-color: $background-color-2;
    z-index: 10;

    &__container {
        background-color: $primary-color-3;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        border-radius: 3px;
        max-width: 1020px;
        margin: auto;
        z-index: 10;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 2.8rem 1.6rem 2.4rem 1.6rem;

        @include tablet {
            @media (min-width: 768px) {
                padding: 2.8rem 2.4rem 2.4rem 2.4rem;
                max-width: 1020px;
                margin: auto;
            }
        }
    }

    &__arrow {
        &:hover {
            cursor: pointer;
        }
    }

    &__name-container {
        display: flex;
        align-items: center;
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__name {
        padding-left: 0.4rem;
    }

    &__btn-container {
        display: flex;
        align-items: center;
    }

    &__btn {
        background-image: url("../../assets/images/Icons/edit_white_24dp.svg");
        background-repeat: no-repeat;
        background-position: center;
        padding: 1.8rem;
        border-radius: 20px;
        border: none;
        background-color: $primary-color-2;
        background-size: 55%;

        &:hover {
            background-color: $background-color-1;
            cursor: pointer;
        }

        &--mobile {
            @include tablet {
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }

        &--tablet {
            display: none;

            @include tablet {
                @media (min-width: 768px) {
                    display: inline-block;
                    height: 3.8rem;
                    font-family: "TitilliumWeb";
                    font-size: 1.4rem;
                    color: $primary-color-3;
                    padding: 0 1.6rem 0 3.6rem;
                    background-position-x: 1.3rem;
                    background-size: 24%;
                    line-height: 2.2rem;
                }
            }
        }
    }

    &__divider {
        border-bottom: 0.1rem solid $secondary-color-2;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 1.6rem;
        line-height: 0;

        @include tablet {
            @media (min-width: 768px) {
                padding: 2.4rem;
                flex-direction: row;
                justify-content: space-between;
                max-width: 1020px;
                margin: auto;
            }
        }
    }

    &__desc-container {
        display: flex;
        flex-direction: column;

        @include tablet {
            @media (min-width: 768px) {
                flex-grow: 1;
                width: 7%;
                margin-right: 5.5rem;
            }
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.6rem;

        @include tablet {
            @media (min-width: 768px) {
                padding-bottom: 2.4rem;
            }
        }
    }

    &__title {
        @extend .p3;

        color: $secondary-color-1;
        padding-bottom: 0.4rem;
    }

    &__content {
        @extend .p2;
    }

    &__cat {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.6rem;

        @include tablet {
            @media (min-width: 768px) {
                padding: 0;
            }
        }
    }

    &__info-container {
        display: flex;

        @include tablet {
            @media (min-width: 768px) {
                flex-grow: 1;
                border-left: 0.1rem solid $secondary-color-2;
            }
        }
    }

    &__status-container {
        flex-grow: 1;

        @include tablet {
            @media (min-width: 768px) {
                margin-left: 3rem;
            }
        }
    }

    &__status {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.6rem;

        @include tablet {
            @media (min-width: 768px) {
                padding-bottom: 2.4rem;
            }
        }
    }

    &__location {
        display: flex;
        flex-direction: column;
    }

    &__quantity {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
