$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-1: #13182c; // instock-blue
$primary-color-2: #2e66e5; // instock-indigo
$primary-color-3: #fff; // white

$secondary-color-1: #5c667e; // slate
$secondary-color-2: #bdc5d5; // cloud

$background-color-1: #232940; // graphite
$background-color-2: #f7f8f9; // light-grey

$supporting-color-1: #158463; // green
$supporting-color-2: #c94515; // red
